.care-container{
    height: 250px;
    display: flex;
    background-color: #006662;
    color: #fffffe;
    padding: 1% 8% 3% 8%;
    position: relative;
}

.care-container-p{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  font-family: "CenturyGothic", sans-serif;

}

.care-container-p p{
    font-size: 17px;
    line-height: 1.9rem;
}

.care-container-card{
    color: #1c2b39;
    position: absolute;
    top: 5%;
    right: -35%;
    width: 120% 
}

.external-content{
    height: 80px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #006662;
    font-family: "CenturyGothic", sans-serif;
    padding: 0 10%;
    font-weight: 600;

}