.arrowheading-container{
    height: 70px;
    width: auto;
    background-color: #006662;
    display: flex;
    padding: 0 15%;
    align-items: center;
    justify-content: center;

}

.arrowheading-container>p{
    color: #fffffe;
    font-family: "Acme", sans-serif;
    font-size: 26px;
    letter-spacing: 0.6px;
    margin: 0 3%;
}