.date-picker-button>img{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.react-datepicker-wrapper {
    height: 40px;
    width: 180px;
}

.react-datepicker__input-container {
    height: 100%;
    width: 100%;
    border: 1px solid #c9d7ee;
}

.date-picker-button{
    font-family: "SofiaPro", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border:none;
    cursor: pointer;
    padding: 0 10px;
    background-color: #fffffe;
    width: auto;
    font-size: 16px;
    margin: 0 20px;
}