.cards-container {
  height: 340px;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0 5%;
  gap: 40px;
}



.card-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 15px;
 
}

.card-item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-item-image {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 22px;
  
}

.card-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-item-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.cards-container h5{
  font-size: 16px;
  font-weight: 700;
  color: #006662;
  margin:0;
  padding: 10px 0;
}

.cards-container h3{
  font-size: 20px;
  font-weight: 700;
  color: #006662;
  font-family: "Inter", sans-serif;
  margin:0;
  padding: 10px 20px 10px 0;
}

.cards-container p{
  font-size: 16px;
  font-weight: 400;
  margin:0;
  padding-top: 20px;
  padding-right: 30px;
}

.card-item-content a{
  text-decoration: none;
}