.header {
  width: 100%;
  height: 80px;
  background-color: #fcd60b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-area {
  width: 50%;
  height: 100%;
  background-color: white;
  border-radius: 0 50px 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: 70%;
}

.hub-link{
  text-decoration: none;
  z-index: 100;

}

.hub-text{
  width: 100%;
  font-weight: 200;
  font-size: 54px;
  letter-spacing: 0.3px;
  color: #006662;   
  font-family: "PressioTEST35", sans-serif;
  margin-left:10%;
  cursor: pointer;
  
}

.nav-container {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


}

.nav-text-container {
  width: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 60%;
}

.nav-show-arrow {
  width: 24px;
  cursor: pointer;
}

.nav-show-arrow:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.nav-show-arrow.rotated {
  transform: rotate(180deg);
}

.nav-show-arrow.rotated:hover {
  transform: rotate(180deg) scale(1.2);
  transition: transform 0.3s ease;
}