.event-cards-container {
  width: 100%;
  height: 300px;
  background-color: #006662;
  display: flex;
  justify-content: center;
}

.discover-cards-container {
    height: 440px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 8% 2% 8%;
    background-color: #fffffe;

  }

  .big-discover{
    position: relative;
    background-color: #fffffe;
    overflow: hidden; 
  }
.discover-halfS{
  position: absolute;
  height: 85%;
  left: 94%;
  top: 45%;
  transform: translateY(-50%);
  z-index: 0;


}
.home-outerlink-container {
  width: 100%;
  height: 250px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  background-color: #fffffe;
}

.slogan{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PressioTEST35";
  font-size: 60px;
  font-style: italic;
  color: #006662;
  background-color: #fcd60b;

  letter-spacing: 1px;
}

.slogan>span{
  font-family: "PressioTEST35";
  font-size: 80px;
  font-style: italic;
  color: #fcd60b;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}

.accessContent{
  width: 100%;
  height: 100px;
  background-color: #fcd60b;
  color: #006662;
  display: flex;
  align-items: center;
  justify-content: center;


}
.accessContent p{
  width: 60%;
  font-family: "SofiaPro", sans-serif;
  font-size: 20px;
  text-align: center;
  
}

.oval3{
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: -1;
  top: 82%;

}

.career{
  width: auto;
  height: 180px;
  padding: 0 15% 2% 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.career-img{
  width: 100%;
  margin-right: 120px;
}

.career-img>img{
  width: 110%;
}

.career-content>p{
  color:#006662;
  font-family: "CenturyGothic", sans-serif;
  font-size: 18px;
  line-height: 1.8rem;
  font-weight: 500;
}

.career-link{
  color: #006662;
  text-decoration: none;
  font-family: "CenturyGothic", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.career-link:hover{
  color: #fcd60b;
  text-decoration: underline;
}
.enjoy{
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #006662;

}

.enjoy > p {
  width: auto;
  padding: 2% 20%;
  font-size: 20px ;
  color: #fffffe;
  font-family: "SofiaPro", sans-serif;

}

.oval4{
  width: 60%;
  height: 20px;
  position: absolute;
  z-index: -1;
  top: 58%;
  left: -10%;

}

.oval5{
  width: 40%;
  height: 20px;
  position: absolute;
  z-index: -1;
  top: 82%;
  right: 0;
  rotate:calc(180deg);
}

.student-card-container{
  height: auto;
  padding-bottom: 20px;
  background-color: #006662;
}

.faqs{
  width: auto;
  background-color: #fffffe;
}

.faqs-content{
  height: 100px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 22px;
  font-family: "SofiaPro", sans-serif;
  font-weight: 600;
  color: #006662;
}