.other-contact{
    width: auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
    background-color: #fffffe;
    padding: 2% 25% 0 10%;
}

.other-contact p{
    font-size: 18px;
    color: #006662;
}

.important-contact-container{
   position: relative;
   overflow: hidden; 
}

.staffCard-halfS{
  position: absolute;
  height: 60%;
  top: 50%;
  left: 94%;
  transform: translateY(-50%);
  z-index: 0;
}