.info-card {
  display: flex;
  width: auto;
  height: auto;
  padding: 2% 10% 2% 10%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}

.info-card-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 0;
    font-size: 16px;

}

.info-card-item img {
  width: 40px;
}

.info-card-item h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 15px;
  font-family: "SofiaPro", sans-serif;
}



.info-card-item p {
  font-family: "CenturyGothic", sans-serif;
  text-align: center;
  margin-top: -5px;
}
