.outerlink-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color:transparent;
}

.outerlink-item {
    width: 40%;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #fffffe;


}

.outerlink-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00666339;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.outerlink-item-content {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.outerlink-item-content img {
    width: 35px;
    margin-right: -10px;
}


.outerlink-item-content h3 {
    font-size: 1.5rem;
    font-family: "SofiaPro", sans-serif;
    font-weight: 700;
}

.outerlink-item p {
    font-size: 1.1rem;
    font-family: "CenturyGothic", sans-serif;
    font-weight: 400;
    text-align: center;
    margin:10px 20px 0 20px;
}

.external-link-icon {
    width: 25px;
    position: relative;
    left: 80%;
    bottom: 10px;
}