.outerlink-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-color:transparent;
}

.outerlink-item {
    width: 23%;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #00007b;
    box-shadow: 5px 3px 10px 2px #fff;
    background-color: #fff;
}

.outerlink-item-content {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.outerlink-item-content img {
    width: 35px;
    margin-right: -10px;
}


.outerlink-item-content h3 {
    font-size: 1.3rem;
    font-family: "Arial Black", sans-serif;
    font-weight: 600;
}

.outerlink-item p {
    font-size: 1.1rem;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    text-align: center;
    margin:10px 20px 0 20px;
}

.external-link-icon {
    width: 30px;
    position: relative;
    left: 80%;
    bottom: 10px;
}