.qalist-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background-color: #c9d7ee;
}