.feedback-container{
    height: 520px;
    display: flex;
    background-color: #006662;
    color: #fffffe;
    padding: 0 8% 1% 8%;
    position: relative;
    overflow: hidden;
}

.feedback-container-p{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-container-p p{
    font-size: 17px;
    line-height: 1.9rem;
  font-family: "CenturyGothic", sans-serif;
}

.feedback-container-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.feedback-container-card-inner{
    width: 70%;
    color: #1c2b39;
    position: absolute;
    top: 5%;
    left: 38%;
}
.feedback-container-card-p{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30vh;
    font-size: 17px;
    line-height: 1.9rem;
  font-family: "CenturyGothic", sans-serif;
}

.feedback-container-card-p p{
    font-size: 17px;
  font-family: "CenturyGothic", sans-serif;
      line-height: 1.9rem;

}

.feedback-container-card-p h3{
    font-size: 17px;
    font-family: "CenturyGothic", sans-serif;
    margin: 0;
}