.second-heading-container{
    width: auto;
    height: 100px;
    position: relative;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second-heading{
    font-size: 24px;
    font-family: "SofiaPro", sans-serif;
    font-weight: 600;
}

.second-heading-container img{
    position: absolute;
    left: 10%;
    top: 65%;
    width: 200px;
}

.second-heading-container p{
    margin-right: 5%;
    font-size: 18px;
}

.second-heading-container a{
    text-decoration: none;
    font-family: "SofiaPro", sans-serif;
    font-weight: 600;
}

.second-heading-container a:hover{
    text-decoration: underline;
}