.ellipse{
width: 100%;
aspect-ratio:100/1;
}

.staffCard-container{
   position: relative;
   overflow: hidden; 
}

.staffCard-halfS{
  position: absolute;
  height: 60%;
  top: 40%;
  left: 94%;
  transform: translateY(-50%);
  z-index: 0;
}

.qaList-container{
    background-color: #006662;
}