.welcome {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-overlay {
  position: absolute;
  inset: 0;
  background-color: #00666385;
  z-index: 1;
}

.welcome-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.welcome-text {
  width: 58%;
  font-size: 128px;
  font-weight: 300;
  font-family: "PressioTEST35", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color: #fcd60b;
  text-shadow: 4px 4px 8px #006662;
  padding: 25px 40px;
  border: 4px solid #fcd60b;
} 
  

.welcome-show-icon {
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: 30px;
  opacity: 0.3;
  margin-bottom: 20px;
  
}

.welcome-show-icon:hover {
  opacity: 0.8;
}